@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300&display=swap');

* {
    box-sizing: border-box;
}

body {
    align-items: center;
    background: rgb(102, 86, 252);
    background: linear-gradient(106deg, rgba(102, 86, 252, 0.38139005602240894) 18%, rgba(162, 162, 164, 0.5914740896358543) 100%);
    display: flex;
    font-family: 'Roboto Slab', serif;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
}

.quiz-container {
    background-color: rgb(221, 212, 230);
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
    max-width: 100%;
    overflow: hidden;
    width: 600px;
}

.quiz-header {
    padding: 4rem;
}

h2 {
    padding: 1rem;
    text-align: center;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    font-size: 1.2rem;
    margin: 1rem 0;
}

ul li label {
    cursor: pointer;
}

button {
    background-color: rgb(126, 126, 236);
    border: none;
    color: white;
    cursor: pointer;
    display: block;
    font-family: inherit;
    font-size: 1.3rem;
    padding: 1.3rem;
    width: 100%;
}

button:hover {
    background-color: rgb(59, 59, 170);;
}